@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header start*/
.header{
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 position: fixed;
 width: 100%;
 top:0;
 z-index: 100;
}
.header .nav-link{
	color: var(--text-black);
	font-size: 1.1rem;
	font-weight:500;
	margin-left: 1rem;
}
.header .nav-link:hover{
	color: var(--text-danger);
}
/*header end*/

/*home start*/
.home .home-banner-1,
.home .home-banner-2{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 95% center;
	min-height: 720px;
	position: relative;
}
.home .home-banner-1{
	background-image: url(slide1.jpg);
}
.home .home-banner-2{
	background-image: url(slide2.jpg);
}
.home .home-banner .home-banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-110%,-50%);
}
.home .home-banner .home-banner-text h1{
	font-size: 6rem;
}

/*offers*/
.offers .offer-hoverly::before{
	content: "";
	position: absolute;
	top: 0;left: 0;
	right: 0;bottom: 0;
	width: 100%;height: 100%;
	background: rgba(0,0,0,0.4);
}
.offers .offer-box .offer-info{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	
}
.offers .offer-box .offer-info-inner .heading-bigger{
	font-size: 4rem;
	font-weight: 500;
	color: var(--text-white);
	line-height: 0.7;
}
.offers .offer-box .offer-info-inner .offer-title-1{
	color: var(--text-white);
	font-size: 1.2rem;
	letter-spacing: 3px;
	opacity: 0.70;
}
/*end*/

/*product css*/
.headline h2::before{
	position: absolute;
	content:" ";
	width: 40%;
	height: 0.3rem;
   background-color:brown;
   bottom:0;
   left: 50%;
   transform: translate(-50%,-50%);
   border-radius: 3px;
}
.product a{
	text-decoration: none;
	color: var(--text-black);
}
.product .product-image .sale{
	background: rgb(71, 245, 71);
    border-radius: 0.3rem;
    padding: 0.2rem 1.2rem;
    position: absolute;
    left: 8%;
	font-weight: bold;
	text-transform: uppercase;
	
}
.product-list .product-name h3{
	font-size: 1.3rem;
	margin-top: 0.5rem;
}
.product-list .product-name .amount{
	color: var(--text-danger);
	font-size: 1.1rem;
}
.product-list .product-name .star{
	margin-bottom: 1rem;
	color: orange;
}
.product .item-box .img-box::before{
	position: absolute;
	content: "up to 70% off springsale";
	color: white;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	font-weight: 500;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1000;
}
/*product section end*/

/*summer section start*/
.image-box .product-image .sale{
	background: rgb(71, 245, 71);
    border-radius: 0.3rem;
    padding: 0.2rem 1.2rem;
    position: absolute;
    left: 8%;
	font-weight: bold;
	text-transform: uppercase;
}
.special .text-content .heading-title
{
	font-size: 2.5rem;
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.special .text-content .sub-text{
	font-size: 1.1rem;
	opacity: 0.70;
	margin-bottom: 2rem;
}
.special .text-content .price{
	font-size: 1.8rem;
	font-weight: 500;
	margin-bottom: 2rem;
	padding: 0;
}
.special .text-content .btn-danger{
	padding: 1.2rem 3rem;
	font-size: 1.1rem;
	font-weight: bold;
}
/*summer end*/

/*testimonial start*/
.testimonial .testimonial-box{
	padding: 3rem 1rem;
	background:white;
}
.testimonial .testimonial-box img{
	width: 120px;
	border-radius: 50%;
	margin: auto;
	display: block;
}
.testimonial .testimonial-box h3{
	margin: 1.5rem 0;
}
.testimonial .testimonial-box span{
	color: var(--text-gray);
	font-size: 1rem;
	margin: 1rem 0;
	display: block;
}
.testimonial .testimonial-box p{
	color:var(--text-gray);
	font-size: 1.1rem;
}
.testimonial .carousel-control-next-icon{
	background-color: var(--bg-danger);
	border-radius: 10%;
	margin-right: -15rem;
}
.testimonial .carousel-control-prev-icon{
	background-color: var(--bg-danger);
	border-radius:  10%;
	margin-left: -15rem;
}
/*testimonial end*/

/*contacy start*/
.contact{
	background-color: rgb(233, 233, 233);
}
.contact .heading h4{
	font-weight: bolder;
}
.contact .heading h3{
	margin-bottom:5rem;
	font-weight: bolder;
	font-size: 2rem;
}
.contact .left-content p{
	font-size: 1.1rem;
	font-weight: 500;
}

.contact .right-content input{
	margin-left: 2rem;
	padding: 1rem 1rem;
	width: 40%;
	margin-bottom: 2rem;
	font-size: 1.1rem;
	background-color: white;
	border: unset;
	outline: unset;
	text-transform: capitalize;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact .right-content textarea{
	margin: 0 2rem;
	font-size: 1.1rem;
	background-color: white;
	border: unset;
	outline: unset;
	text-transform: capitalize;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact .right-content .btn-danger{
	margin: 0 2rem;
	padding: 0.8rem 3rem;
	font-size: 1.1rem;
	font-weight: bold;
}
/*contact end*/

/*footer start*/
.footer .footer-content{
	color: white;
	font-size: 1.2rem;
	font-weight: 400;
}
/*footer end*/
/*custome class start*/
:root{
	/*Background color*/
	--bg-danger: #f63440;
	--bg-white: #fff;
	--bg-light-white: #f5f5f5;

	/*Text color*/
	--text-white: #fff;
	--text-black: #121212;
	--text-danger: #f63440;
	--text-gray: #aaa;
	--text-dark-gray: #777;
}
body{
	font-family: 'Lora', serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
	background: var(--bg-white);
	overflow-x: hidden;
}
p{
	margin: 0;
	padding: 0;
}
a,
a:hover{
	text-decoration: none;
}
.my-btn{
	background: var(--bg-danger);
	border-color: var(--bg-danger);
	padding: 0.5rem 2rem;
	font-size: 1rem;
	font-weight: 500;
}
.my-btn:hover{
	color: var(--text-danger);
	background: transparent;
}
.section{
	padding: 3rem 0rem;
}
/*slider css*/



/*custome class end*/